In [146]:
# LIBRERIE
# 1.  Liste:  --> potrebbe essere una matrice, però prima devo trasformare le liste in ARRAY.

mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

import numpy as np

array_1 = np.array(mat[0])         # estraggo la lista grazie all'indice.
array_2 = np.array(mat[1])
array_3 = np.array(mat[2])

somma_array = array_1 + array_2  + array_3
print(somma_array)

mat_dataframe = pd.DataFrame({"Colonna 1":[0, 1, 2, 3, 4], "Colonna 2":[5, 6, 7, 8, 9], "Colonna 3":[10, 11, 12, 13, 14]}, index = list("abcde"))
print("\nLa matrice è:\n", mat_dataframe)

print("\nDelle ultime 3 righe:")
print(mat_dataframe.loc["c":"e" , "Colonna 2"])         # label-based
print("Il valore della prima colonna alla riga 'c':")
print(mat_dataframe.iloc[-3 , 0])                       # position-based

[15 18 21 24 27]

La matrice è:
    Colonna 1  Colonna 2  Colonna 3
a          0          5         10
b          1          6         11
c          2          7         12
d          3          8         13
e          4          9         14

Delle ultime 3 righe:
c    7
d    8
e    9
Name: Colonna 2, dtype: int64
Il valore della prima colonna alla riga 'c':
2

In [21]:
# 2.  Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial()

import math

numero = 60
numero_radianti = math.radians(numero)     ##

seno = math.sin(numero_radiante)
coseno = math.cos(numero_radiante)
fattoriale = math.factorial(numero)
pi = math.pi          # non ci vogliono le ().

print(f"Il seno di {numero_radianti} è {seno}")
print(f"Il coseno di {numero_radianti} è {coseno}")
print(f"Il fattoriale di {numero} è {fattoriale}")
print(f"Il pi_greco è {pi}")

Il seno di 1.0471975511965976 è 0.8660254037844386
Il coseno di 1.0471975511965976 è 0.5000000000000001
Il fattoriale di 60 è 8320987112741390144276341183223364380754172606361245952449277696409600000000000000
Il pi_greco è 3.141592653589793

In [25]:
# 3. 

help(math.degrees)      # math.degrees  è una 'built-in' degrees(x, /)  ->  Convert angle x from radians to degrees.

math.degrees(math.pi)   # pi in gradi

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

180.0

In [131]:
# 4. L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 
#    rispondiamo alle domande del CEO della Object SpA: • qual è stata la vendita massima mensile? E quella minima? 
#   • quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? • quali sono le vendite minori di 3000 oggetti? • in media quanti oggetti sono stati venduti al mese?

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

lst = np.array(lst)               # casting  --> trasformiamo in array

import pandas as pd

vendite_series = pd.Series(lst, index = ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"])
print(vendite_series)

vendite = pd.DataFrame(lst, index = ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"])
print(vendite)

vendita_max = lst.max()
vendita_min = lst.min()
print("\nLa vendita massima è:", vendita_max)
print("La vendita minima è:", vendita_min)

vendite_maggiori = lst > 4999     # masking --> devo dare una condizione  (mandata da sola restiuisce valori booleani).
print("\nMASKING: Valore booleano del array (con condizione):\n", lst > 4999)  
print("\nMASKING: (restituisce solo i valori T) Le vendite maggiori di 4999 sono:", lst[lst > 4999])    # chiedo in gli indici (i suoi valori) con condizione T, della array.

print("\nIl numero di mesi con vendite maggiori sono:", np.sum(vendite_maggiori))      # calcola i T (campo boolenao) (riprendo la variabile) --> e li somma.

vendite_minori = lst < 3000        
print("le vendite minori di 3000 sono:", lst[vendite_minori])

media_venduta = round(lst.mean(),2)    # arrotondiamo!!
print("La media venduta è di:", media_venduta)

Gen    2000
Feb    5500
Mar    7200
Apr    4320
Mag    1280
Giu    1900
Lug    2500
Ago    3900
Set    6410
Ott    8150
Nov    7100
Dic    5350
dtype: int64
              0
Gennaio    2000
Febbraio   5500
Marzo      7200
Aprile     4320
Maggio     1280
Giugno     1900
Luglio     2500
Agosto     3900
Settembre  6410
Ottobre    8150
Novembre   7100
Dicembre   5350

La vendita massima è: 8150
La vendita minima è: 1280

MASKING: Valore booleano del array (con condizione):
 [False  True  True False False False False False  True  True  True  True]

MASKING: (restituisce solo i valori T) Le vendite maggiori di 4999 sono: [5500 7200 6410 8150 7100 5350]

Il numero di mesi con vendite maggiori sono: 6
le vendite minori di 3000 sono: [2000 1280 1900 2500]
La media venduta è di: 4634.17

In [122]:
# 5. Consideriamo il seguente dizionario.   Dunque qual è la differenza tra i due tipi di dato?
#    Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}    # Dizionario

fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2012, 2))   # Serie
print("Con step:\n",fatturati_series)

fatturato = {"Fatturato":[12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000]}    # Ho crato un Dizionario
tabella = pd.DataFrame(fatturato, index =range(1997, 2005))                                   # il 

print("\nTabella Dataframe:\n", tabella)

#  Possiamo accedere alle stesse informazioni nello stesso modo: 
print(fatturati_dict)     # restiuisce su una sola riga 'chiave:valore';
print(fatturati_series)   # gli indici sono le righe con i rispettivi valori.

# La visualizzazione di un singolo elemento è uguale
print(fatturati_dict[1997])    
print(fatturati_series[1997])

Con step:
 1997    12000
1999    15000
2001    20000
2003    23000
2005    25000
2007    17000
2009    14000
2011    21000
dtype: int64

Tabella Dataframe:
       Fatturato
1997      12000
1998      15000
1999      20000
2000      23000
2001      25000
2002      17000
2003      14000
2004      21000
{1997: 12000, 1998: 15000, 1999: 20000, 2000: 23000, 2001: 25000, 2002: 17000, 2003: 14000, 2004: 21000}
1997    12000
1999    15000
2001    20000
2003    23000
2005    25000
2007    17000
2009    14000
2011    21000
dtype: int64
12000
12000

In [65]:
# 6. L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray:

stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

#  L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for 7 • con il masking.

stipendi_nuovi = [stipendio * 2 for stipendio in stipendi]      # con un for devo crearmi una lista nuova vuota []. 'comprehension'
print("La nuova 'lista' con FOR è:", stipendi_nuovi)

stipendi_nuovi_aggiornati = [stipendio*2 for stipendio in stipendi if stipendio >= 500]
print("La nuova 'lista' con FOR e IF è:", stipendi_nuovi_aggiornati)


arrey_stipendi_aggiornati = stipendi*2                          # ho creato un altro array.  Masking
print("Il nuovo 'arrey' è:", arrey_stipendi_aggiornati)

La nuova 'lista' con FOR è: [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
La nuova 'lista' con FOR e IF è: [1000, 1200, 1400, 1600, 1800, 2000]
Il nuovo 'arrey' è: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]