In [57]:
# Es.1 Introduzione di variabili
studenti = 25
print("\nGli studenti sono:", studenti)
nuovi_studenti = 3
totale_studenti = studenti + nuovi_studenti

print("\nGli studenti sono aumentati, ad oggi ce ne sono:", studenti + nuovi_studenti)
print("Gli studenti sono aumentati, ad oggi ce ne sono:", totale_studenti, "del corso Epicode")
type(studenti)

Gli studenti sono: 25

Gli studenti sono aumentati, ad oggi ce ne sono: 28
Gli studenti sono aumentati, ad oggi ce ne sono: 28 del corso Epicode

int

In [62]:
# Es.2 Somma e moltiplicazione
x = 10
y = 2
print(x + y)
print((x + y) * 3)

def somma(x,y):
    risultato = x + y
    return risultato   # si aggiunge la riga per restituire il risultato.
print(somma(x,y))

12
36
12

In [50]:
# Es.3 
str_1 = "Windows"
str_2 = "Excel"
str_3 = "Powerpoint"
str_4 = "Word"

print(len(str_1))

str_1_tra = 5 <= len(str_1) <=8
str_2_tra = 5 <= len(str_2) <=8
str_3_tra = 5 <= len(str_3) <=8
str_4_tra = 5 <= len(str_4) <=8

print(str_1_tra)
print(str_2_tra)
print(str_3_tra)
print(str_4_tra)

7
True
True
False
False

In [11]:
# Es.4 Calcolo dei secondi in un anno bisestile.
secondi_minuto = 60
minuti_ora = 60
ore_giorno = 24 
giorni_anno = 365

secondi_anno = secondi_minuto*minuti_ora*ore_giorno*giorni_anno
print("\nI secondi che ci sono in un anno non bisestile sono: ", secondi_anno)

I secondi che ci sono in un anno non bisestile sono:  31536000

In [87]:
# Es.5 my_string = "I am studying Python"

my_string = "I am studying Python"

print(my_string.upper())
print(my_string.lower())
print(my_string.replace("Python", "a lot"))
print(my_string.strip())

I AM STUDYING PYTHON
i am studying python
I am studying a lot
I am studying Python

In [27]:
# input

print("\nInserisci la tua età: "), eta_aida
eta_aida = input()

Inserisci la tua età:

 27

In [69]:
studenti_classe = 25

In [71]:
nuovi_studenti_classe = 4

In [75]:
totale_studenti_classe = studenti_classe + nuovi_studenti_classe

In [77]:
print(totale_studenti_classe)

29

In [ ]:
# Prova per la sovrascrizione di una variabile

In [103]:
nome = " Aida  "
cognome = "Squadrito"
nome_completo = nome + " " + cognome

In [105]:
print(nome_completo.upper())

 AIDA   SQUADRITO

In [111]:
nome = (nome.strip())
print(nome)

Aida

In [171]:
nome = (nome.strip())

print(nome_completo)      # non ho dovuto aggiungere l'operazione per 'nome_completo'

Aida Alexandra Squadrito

In [119]:
nome = "Aida Alexandra"
print(nome)
print(nome_completo)

Aida Alexandra
Aida Squadrito

In [123]:
nome_completo = nome + " " + cognome     # ho dovuto richiamare l'operazione della variabile composta
print(nome_completo)

Aida Alexandra Squadrito